<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>
		<customErrors mode="Off" />
	</system.web>

	<system.webServer>

		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>

		<handlers>
			<remove name="WebDAV"/>
			<add name="aspNetCore"
				 path="*"
				 verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>

		<staticContent>
			<mimeMap fileExtension=".mjs" mimeType="text/javascript" />
		</staticContent>

		<httpErrors errorMode="Detailed" />

		<aspNetCore processPath="dotnet"
					arguments=".\DFN_BMS.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />

	</system.webServer>

</configuration>